.container__big-card{

  margin-left: 25px;
  margin-right: 25px;
  width: 500px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content:flex-start;


}
.big-card__title > h1 > a {
  margin-top: 10px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;



}

.big-card__description > p {
  margin-top: 15px;
 color:grey;
}

.big-card__photo > img {
  width: 100%;
  min-width: 300px;

}
