<div class="container__big-card">
  <div class="big-card__photo">
    <img
    src="https://i.pinimg.com/564x/fe/73/4c/fe734c542cd08f28d31121712e591658.jpg"
    alt=""
    height="250px"
    srcset=""
    >
  </div>

  <div class="big-card__title">

    <h1><a href="#">TITULO DA FOTO</a></h1>

  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non massa porttitor, sodales dolor sed, varius elit. Vestibulum ornare blandit tellus, vitae commodo lectus facilisis eu. Etiam tempus quam ut quam malesuada, sed vestibulum quam aliquam. Maecenas scelerisque arcu lectus, vel commodo nibh accumsan quis. Donec quis euismod nunc, ut tincidunt lacus. Proin bibendum dolor risus, vitae rhoncus ipsum blandit ac. In vel massa aliquet felis fermentum efficitur vitae sit amet risus. Fusce tempor ullamcorper dapibus.
    </p>

  </div>

</div>
