

.container__menu-title> h1{
  background-color: #997752;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
  font-family: 'Calisto MT';
  display: flex;
  justify-content: center;
}

.container__menu-title>hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

