

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
    Id="1"
     photoCover="https://i.pinimg.com/564x/fe/73/4c/fe734c542cd08f28d31121712e591658.jpg"
    cardTitle="ILHABELA"
    cardDescription="Ilhabela um paraiso Brasileiro  repleto por lindas praias"
    >
    </app-big-card>


  </div>
  <div class="articles__others">

    <app-small-card
    Id="2"
    cardTitle="PRAIA DO BONETE"
    photoCover="https://i.pinimg.com/564x/2d/cb/f0/2dcbf0f114e6ec7bb2231319194ca472.jpg"
    ></app-small-card>

    <app-small-card
    Id="3"
    cardTitle="PRAIA DO JABAQUARA"
    photoCover="https://i.pinimg.com/564x/be/3e/a7/be3ea7fb3f0ec8c8d043fc28030790e6.jpg"
    ></app-small-card>


    <app-small-card
    Id="4"
    cardTitle="PRAIA DO CURRAL"
    photoCover="https://i.pinimg.com/564x/6c/08/81/6c088162f20a49b742d0dbdc198da818.jpg"
    ></app-small-card>

  </div>
</div>

